<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Deshabilita listado de directorios -->
    <directoryBrowse enabled="false" />

    <!-- Reescritura de URL amigable -->
    <rewrite>
      <rules>
        <rule name="RouteAllToIndex" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
        <handlers>
            <remove name="php-8.4.8" />
            <add name="php-8.4.8" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>

  </system.webServer>
</configuration>



